@import "../../mixins.scss";

.coin-list{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 4rem;
  background-color: rgb(18, 18, 18);
  h1{
    width: 1300px;
    max-width: 95%;
    color: rgb(186, 186, 186);
    align-self: center;
    @include mQmax(900px){
      font-size: 1.5rem;
    }
  }
}

// cd src/components/coin-list/
// sass --watch CoinList.scss CoinList.css

.coin-container{
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  .coin-list-item{
    display: flex;
    gap: 1rem;
    justify-content: flex-start;
    align-items: center;
    width: 1300px;
    max-width: 95%;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    color: rgb(186, 186, 186);
    border-top: 1px solid grey;
    font-size: 1rem;
    .item-rank{
      text-align: end;
      width: 2rem;
    }
    .item-img{
      width: 2rem;
    }
    .item-name{
      width: 35%;
      color: white;
      @include mQmax(900px){
        width: 20%;
        font-size: 0.8rem;
      }
      @include mQmax(900px){
        width: 25%;
        font-size: 1rem;
      }
    }
    .item-symbol{
      font-size: 0.8rem;
      width: 10%;
      @include mQmax(900px){
        display: none;
      }
    }
    .item-price{
      width: 10%;
      @include mQmax(900px){
        width: 15%;
        font-size: 0.8rem;
      }
      @include mQmax(600px){
        width: 20%;
        font-size: 1rem;
      }
    }
    .item-24h-change{
      width: 5%;
      display: flex;
      justify-content: flex-end;
      @include mQmax(900px){
        display: none;
      }
    }
    .item-market-cap{
      width: 20%;
      margin-right: 5%;
      display: flex;
      justify-content: flex-end;
      @include mQmax(900px){
        width: 25%;
        font-size: 0.8rem;
      }
      @include mQmax(600px){
        display: none;
      }
    }
    .more-details-button{
      width: 10%;
      height: 2.5rem;
      background-color: rgb(37, 37, 37);
      color: rgb(186, 186, 186);
      border: 1px solid rgb(186, 186, 186);
      border-radius: 1rem;
      cursor: pointer;
      @include mQmax(900px){
        width: 20%;
        
      }
      &:hover{
        background-color: black;
        border-color: white;
      }
    }
  }
  .coin-details{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    width: 1300px;
    max-width: 95%;
    color: rgb(186, 186, 186);
    font-size: 1rem;
    max-height: 0px;
    overflow: hidden;
    transition: max-height 0.5s ease;
    @include mQmax(600px){
        font-size: 0.8rem;
      }
    
    .more-details-button{
      width: 20%;
      height: 2.5rem;
      background-color: rgb(37, 37, 37);
      color: rgb(186, 186, 186);
      border: 1px solid rgb(186, 186, 186);
      border-radius: 1rem;
      margin-top: 1rem;
      margin-bottom: 1rem;
      cursor: pointer;
      @include mQmax(900px){
        width: 250px;
        
      
      }
      &:hover{
        background-color: black;
        border-color: white;
      }
      
    }
      
    .one-detail{
      display: flex;
      justify-content: flex-start;
      align-items: center;
      width: 44%;
      border-bottom: 1px solid grey;
      overflow: hidden;
      transition: height 0.3s ease;
      @include mQmax(900px){
        width: 100%;
      }
      
      label{
        width: 55%;
        @include mQmax(600px){
        width: 40%;
      }
        
      }
      p{
        margin-top: 1rem;
        margin-bottom: 1rem;
      }
    }
    
  }
  .coin-details.expanded {
    max-height: 300px;
    @include mQmax(900px){
      max-height: 900px;
    }
  }
}
