.header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(14, 14, 14);
    padding-bottom: 1rem;
}
.header img{
    width: 200px;
    margin-right: 20%;
}
.header h1{
    font-size: 1.3rem;
    color: rgb(73, 17, 158);
    font-weight: 500;

}
.header a{
    font-size: 1.3rem;
    color: rgb(73, 17, 158);
    font-weight: 500;
    text-decoration: none;
    
}
.header-text{
 justify-self: flex-end;
 margin-left: 20%;
 text-align: end;
 
}

section {
    
    display: flex;
    color: rgb(73, 17, 158);
    justify-content: flex-end;
    align-items: center;
    gap: 1rem
    ;
  }
  
  

section .one-link {
   
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }


section .one-link a {
    color: rgb(73, 17, 158);
    text-decoration: underline;
    font-size: 1rem;
  }
section .one-link a:hover {
    color: blue;
  }